*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/secret/.env
/functions/.env.bak
/secret/.env.bak
/functions/.gcloudignore
/functions/.gcloudignore.bak
/functions/.gitignore
/functions/.gitignore.bak
/functions

/.gitignore.bak
/functions/cocinaconcatarina-f6667-c8582abcf99c.json
/secret/cocinaconcatarina-f6667-c8582abcf99c.json
/firebase.json.bak
/functions/index.js.bak
/functions/package.json.bak
